{% extends "base.html" %}
      {% block title %}

      <style>
        table {
        
        width: 100%;
        border-collapse: collapse;
        border: 3px solid white;
     }

      </style>
        <center>
          <body style="background-size: cover; box-sizing: border-box; background-image: linear-gradient(180deg, rgba(0, 30, 53, 0.75), rgba(0, 30, 53, 0.75)), url('static/image/allback.jpg');">
            
      
      <h2 style="color: white;">Welcome, {{ user.name }}. Here's your pull up record</h2>
      <div >

      <table class="table table-hover" style='width: 700px;'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">UserId</th>
            <th scope="col"><b>Number of Push-Ups</b></th>
            <th scope="col"><b>Perfomed on</b></th>
            <th scope="col"><b>Comments</b></th>
          </tr>
        </thead>
        <tbody>
        {% for workout in workouts %}
          <tr>
            <th scope="row">{{current_user.id}}</th>
            <td><b>{{ workout.pushups }}</b></td>
            <td><b>{{ workout.date_posted.strftime('%m/%d/%Y') }}</b></td>
            <td><b>{{ workout.comment }}</b></td>
            <td>
                <a href= {{ url_for("main.update_workout" ,workout_id=workout.id ) }} class="btn btn-outline-success" role="button">Edit</a>
                                                                            
            </td>
            <td>
                <a href= {{ url_for("main.delete_workout" ,workout_id=workout.id ) }} class="btn btn-outline-danger" role="button">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
          </body>
  </center>



      {% endblock %}